<% include ../layout/header %>

<form method="POST" action="/sign_in">
  <% include ../layout/csrf %>
  <p>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<%= username %>" />
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="" />
  </p>

  <p>
    <label for="sign_in_button"></label>
    <input type="submit" value="Sign In" id="sign_in_button" />
  </p>
</form>

<p>
  Don't have an account? <a href="/sign_up">Create your account</a>!
</p>

<% include ../layout/footer %>