<% include ../layout/header %>

<form method="POST" action="/sign_up" class="sign_up_form">
  <% include ../layout/csrf %>
  <p>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<%= username %>" />
  </p>

  <p>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="<%= email %>" />
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="" />
  </p>

  <p>
    <label for="confirm_password">Confirm password</label>
    <input type="password" id="confirm_password" name="confirm_password" value="" />
  </p>

  <p>
    <label for="sign_up_button"></label>
    <input type="submit" value="Create your account" id="sign_up_button" />
  </p>
</form>

<p>
  Already have an account? <a href="/sign_in">Sign in</a>!
</p>

<% include ../layout/footer %>