<!DOCTYPE html>
<html>
  <head>
    <title><%= page.fullTitle() %></title>
    <link rel='stylesheet' href='/stylesheets/style.css?v=<%= page.assetVersion() %>' />
  </head>
  <body>
    <header><%= page.siteName() %></header>

    <h1><%= page.title() %></h1>
