<!DOCTYPE html>
<html>
  <head>
    <title><%= page.fullTitle() %></title>
    <link rel='stylesheet' href='/stylesheets/style.css?v=<%= assetVersion %>' />
  </head>
  <body>
    <header>
      <h1>
        <a href="/"><%= page.siteName() %></a>
      </h1>
    </header>

    <div class="container">

      <h2><%= page.title() %></h2>

      <% include menu %>

      <% include flash %>
