<menu>
  <% if(currentUser) { %>
    <a class="logout_link" href="/logout">logout</a>
  <% } else { %>
    <a class="sign_in_link" href="/sign_in">sign in</a>
    <a class="sign_up_link" href="/sign_up">sign up</a>
  <% } %>
</menu>